<mat-toolbar color="primary">
  <div>
    <button mat-icon-button (click)="onToggleSideNav()" fxHide.gt-xs>
      <mat-icon> menu</mat-icon>
    </button>
    <a routerLink="/">Ng Fitness </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="nav-items">
      <li *ngIf="!isAuth">
        <a routerLink="/auth/signin">Singin</a>
      </li>
      <li *ngIf="!isAuth">
        <a routerLink="/auth/signup">Singup</a>
      </li>
      <li *ngIf="isAuth">
        <a routerLink="/training">Training</a>
      </li>
      <li *ngIf="isAuth">
        <a (click)="logout()">Logout</a>
      </li>
    </ul>

  </div>
</mat-toolbar>
