a {
  text-decoration: none;
  color: #fff;
}
a:hover,
a.active {
  color: lightgray;
}
.nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.circle {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
