<mat-sidenav-container [ngClass]="themeName">
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav (sidenavClose)="sidenav.close()"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()" (changeColor)="changeTheme($event)"></app-header>
    <section class="main">
      <router-outlet>

      </router-outlet>
    </section>
    <footer class="text-center">
      <p> Made with &#10084; by
        <a class="" href="https://github.com/nmanikiran">Mani Kiran</a>
      </p>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
