<section class="new-training" fxLayout fxLayoutAlign="center center">
  <form (ngSubmit)=startTraining(f) #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title>
        Time to start new workout
      </mat-card-title>
      <mat-card-content>
        <mat-select placeholder="Choose Exercise" ngModel name="exercise" required>
          <mat-option *ngFor="let item of exercises" [value]="item.id">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center center">
        <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Start</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
